.vscode
.vscode-test
.github
.gitignore

node_modules
src
test

**/*.json
!package.json

**/*.map
**/*.yml

**/*.md
!README.md
!LICENSE.md
!CHANGELOG.md

img/**
!img/logo.png

**/*.js
!dist/extension.js

